@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
nav{
    background-color: #000069;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 5px 20px black;
    font-family: 'Raleway', sans-serif;
}
#navlink{
    color: #D1D1D1;
    font-size: 20px;
}
#navlink:hover{
    color: #ff0000;
    text-shadow: 2px 2px 15px rgb(121, 0, 0);
    font-size: 20px;
}
